
*{
	margin: 0;
	padding: 0;
}

body{
	width: 97%;
	margin: auto;
	background-color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
}

 .page-header {
	background-color: #f72210;
	padding-top: 2em;
    padding-bottom: 0.5125em;
    max-width: 1310px;
    
}

#current-date {
	display: block;
	padding-top: 3em;
	font-size: 0.75em;
	color: #fff;
}

.signin a {
font-size: 18px;
bottom: 10px;
color: #fff;
}

.btn-subscribe {
	
font-size: 1.25em;
color: #f72210;
background-color: #fff;
display: inline-block;
margin-left: 10px;
padding: 0.5em 1em;
font-weight: 700;
}

.logo-image{
	width: 396px;
    height: 60px;
    left: 50%;
    top: 15px;
    position: absolute;
    transform: translate(-50%, 0);
    
}
#navbarResponsive::before{
	
	width: 66px;
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: block;
    background-color: #f72210;
    border-left: 12px solid #fff;
    border-top: 13px solid #f72210;
}

.image-fluid{
width: 100%;
height: auto;
}
.top-articles{
	width: 48%;
}
.culture-stories{
  background-color: #f4f5f7;
}
.features-image{
	position: relative;
}
.features-image a span{
	display: block;
    font: bold 17px/16px "Roboto Condensed",sans-serif;
    color: #f72210;
    padding: 8px 15px 9px;
    background-color: rgba(255,255,255,.9);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

}

.individual-opinion:after {
content: "";
display: block;
clear: both;
}